body {
    background-color: #333a35;
    font-family: Muli, sans-serif;
    margin: 0;
}
.navigation {
    display: flex;
    background-color: #333a35;
    color: #eca419;
    margin: 10px 5px;  
    padding: 10px 5px;
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    flex-wrap: wrap;
}
.navigation-logo {
    display: flex;
    align-items: flex-start;
    padding: 0 5px;
    margin: 0 10px;
}
.navigation-logo img {
    height: 50px;
    width: 50px;
}
.navigation-links {
    margin: 15px 10px;
    padding: 0 10px;
    font-weight: bold;
}
.navigation-links a:link {
    text-decoration: none;
    color: #ffffff;
}
.navigation-links a:visited {
    text-decoration: none;
    color: #ffffff;
}
.navigation-links a:hover {
    text-decoration: none;
    color: #eca419;
}
.navigation-links a:active {
    text-decoration: none;
    color: #eca419;
}
.navigation-icons span {
    color: #eca419; 
    margin: 15px 10px;
    padding: 0 20px;
    font-size: 1.5em;
}
.navigation-icons span:hover {
    color: #ffffff;
}
.navigation-icons span:active {
    color: #ffffff;
}
/* features section starts here */
.features {
    display: flex;
    background-color: #333a35;
    width: 97%;
}
.main-feature {
    display: flex;
    width: 60%;
    height: 500px;
    background-image: url(../images/desert780x477.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-end;
}
.main-feature-text {
    width: 700px;
    border-bottom: #eca419 solid 2px;
    color: #ffffff;
    margin: 20px 20px 50px 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 70px 20px 70px;
}
.sub-features {
    display: flex;
    flex-direction: column;
    width: 40%;    
    height: 500px;
}
.sub-features-top {
    display: flex;
    background-image: url(../images/stream420x240.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    align-items: flex-end;
    height: 50%;
}
.sub-features-bottom {
    display: flex;
    background-image: url(../images/relax420x237.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    align-items: flex-end;
    height: 50%;
}
.sub-features-text {
    width: 425px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 0 25px;
}
.features a:link {
    text-decoration: none;
    color: #ffffff;
}
.features a:visited {
    text-decoration: none;
    color: #ffffff;
}
.features a:hover {
    text-decoration: none;
    color: #ECA419;
}
.features a:active {
    text-decoration: none;
    color: #ECA419;
}
/* articles section starts here */
.articles-container {
    display: flex;
    background-color: #ffffff;
    width: 97%;
    justify-content: center;
    flex-wrap: wrap;
}
.articles {
    display: flex;
    flex-direction: column;
    padding: 30px 3px 20px 3px;
}
.articles img {
    height: 200px;
    width: 300px;
}
.articles-titles {
    width: 225px;
    padding: 0 20px;
}
.articles a:link {
    text-decoration: none;
    color: #000000;
}
.articles a:visited {
    text-decoration: none;
    color: #000000;
}
.articles a:hover {
    text-decoration: none;
    color: #ECA419;
}
.articles a:active {
    text-decoration: none;
    color: #ECA419;
    background-color: #333a35;
}
/* Gear starts here */
.gear-box {
    background-color: #DFD6C8;
    width: 97%;
    margin-top: -25px;
}
.gear-box-title h1 {
    display: flex;
    height: 70px;
    justify-content: center;
    color: #ECA419;
}
.take-a-seat-section {
    background-color:#FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-bottom: 3px;
}
.take-a-seat-section p{
    display: flex;
    flex-direction: column;
    width: 520px;
    margin: 100px 330px;
    padding: 20px;
    position: absolute;
}
.take-a-seat-section h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    padding: 40px;
    position: relative;
}
.clean-your-plate{
    background-color:#FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-bottom: 3px;
}
.clean-your-plate h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    padding: 40px;
    position: relative;

}
.clean-your-plate p{
    display: flex;
    flex-direction: column;
    width: 520px;
    margin: -36px 30px;
    padding: 20px;
    position: absolute;
}
.throwin-shade{
    background-color:#FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-bottom: 3px;
}
.throwin-shade h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    padding: 40px;
    position: relative;
    width: 498px;
}
.throwin-shade p{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 130px 326px;
    padding: 20px;
    position: absolute;
}
.last-row {
    background-color:#FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-bottom: 3px;
}
.last-row h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 59px;
    padding: 2px;
    position: relative;
    width: 517px;
}
.last-row p {
    display: flex;
    flex-direction: column;
    width: 520px;
    margin: 100px 330px;
    padding: 20px;
    position: absolute;
}
.badge {
    align-self: center;
    margin: 90px;
    padding: 15px;
    margin-bottom: 30px;
    position: absolute;
}